### Program to print 'Hello Python' 10 times

In [1]:
n='Hello Python'
i=1
while i<=10:
    print(i,'\t',n)
    i+=1

1 	 Hello Python
2 	 Hello Python
3 	 Hello Python
4 	 Hello Python
5 	 Hello Python
6 	 Hello Python
7 	 Hello Python
8 	 Hello Python
9 	 Hello Python
10 	 Hello Python

### Program to print number from 1-10

In [2]:
i=1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

### Program to print sum of first 10 numbers

In [3]:
i=1
sum=0
while i<=10:
    sum+=i
    print(sum)
    i+=1

1
3
6
10
15
21
28
36
45
55

### Program to print sum of first 10 numbers

In [4]:
i=1
sum=0
while i<=10:
    sum+=i
    i+=1
print(sum)

55

### Program to print n numbers entered by user

In [5]:
n=int(input('Enter a number = '))
i=1
while i<=n:
    print(i)
    i+=1

Enter a number = 5
1
2
3
4
5

### Program to print sum of n numbers entered by user

In [7]:
n=int(input('Enter a number = '))
i=1
sum=0
while i<=n:
    sum+=i
    print(sum)
    i+=1

Enter a number = 8
1
3
6
10
15
21
28
36

### Program to print sum of n numbers entered by user

In [8]:
n=int(input('Enter a number = '))
i=1
sum=0
while i<=n:
    sum+=i
    i+=1
print(sum)

Enter a number = 6
21

### Program to print table of a number

In [9]:
n=int(input('Enter a num whose table you want to print = '))
i=1
while i<=10:
    print(n,'*',i,'=',n*i)
    i+=1

Enter a num whose table you want to print = 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

### Program to print factorial of a number

In [10]:
n=int(input('Enter a num = '))
fact=1
while n>=1:
    fact*=n
    n-=1
print(fact)

Enter a num = 5
120

### Program to print even number between 1-100

In [11]:
i=1
print('Even numbers from 1-100 are : ')
while i<=100:
    if i%2==0:
        print(i,end=" , ")
    i+=1

Even numbers from 1-100 are :
2 , 4 , 6 , 8 , 10 , 12 , 14 , 16 , 18 , 20 , 22 , 24 , 26 , 28 , 30 , 32 , 34 , 36 , 38 , 40 , 42 , 44 , 46 , 48 , 50 , 52 , 54 , 56 , 58 , 60 , 62 , 64 , 66 , 68 , 70 , 72 , 74 , 76 , 78 , 80 , 82 , 84 , 86 , 88 , 90 , 92 , 94 , 96 , 98 , 100 ,

### Program to print odd number between 1-100

In [12]:
i=1
print('odd numbers from 1-100 are : ')
while i<=100:
    if i%2!=0:
        print(i,end=" , ")
    i+=1

odd numbers from 1-100 are :
1 , 3 , 5 , 7 , 9 , 11 , 13 , 15 , 17 , 19 , 21 , 23 , 25 , 27 , 29 , 31 , 33 , 35 , 37 , 39 , 41 , 43 , 45 , 47 , 49 , 51 , 53 , 55 , 57 , 59 , 61 , 63 , 65 , 67 , 69 , 71 , 73 , 75 , 77 , 79 , 81 , 83 , 85 , 87 , 89 , 91 , 93 , 95 , 97 , 99 ,